$default-fontsize: 1.3em;
$default-font : Arial;
$default-background-color: #fff;
$default-tile-color: red;
$default-button-text-color: aliceblue;;
$default-button-fontsize: 1.2em;
$summary-fontsize: 1.5em;
$summary-textcolor: grey;
