$default-fontsize: 1.3em;
$default-font : Arial;
$default-background-color: #fff;
$default-tile-color: #a6e9d7;
$correct-tile-color: #0bcfc9;
$default-button-text-color: aliceblue;
$default-button-fontsize: 1em;
$summary-fontsize: 1.5em;
$summary-textcolor: grey;
$tile-length: 3.4em;
