body {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-family: Arial; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a:link {
  text-decoration: none; }

.buttons {
  width: 9%;
  padding: 0.3em;
  color: aliceblue;
  font-size: 1em; }
  .buttons:hover {
    color: grey; }

.rankLinks {
  font-size: 0.8em;
  padding-top: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 100px;
  background-image: url("../images/crown.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  text-align: center; }

/*!*********************Navbar**********************/
#logoImg {
  width: 20%; }

#level-field {
  text-align: right; }
  #level-field li {
    margin: 0.6em;
    display: inline-block; }
  #level-field .levelLinks {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca; }
    #level-field .levelLinks:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-bottom: none; }

/*!*********************Index.html**********************/
#userdata-field {
  text-align: center; }
  #userdata-field .userdataDivs {
    margin: 0.6em;
    font-size: 1.5em;
    color: grey;
    display: inline-block; }

#matrix-container {
  margin: 1.5em 0;
  text-align: center; }
  #matrix-container #tilesContainer {
    width: 30%;
    margin: 0 auto;
    z-index: 999;
    -webkit-transition: transform 1.5s ease-in-out;
    /*Speed of Matrix rotating*/ }
    #matrix-container #tilesContainer .matrixRows {
      background: red;
      display: block;
      z-index: 999; }
    #matrix-container #tilesContainer .matrixTiles {
      width: 4em;
      height: 4em;
      margin: 0 0.2em;
      background-color: #a6e9d7;
      display: inline-block;
      border-radius: 4px;
      box-shadow: 2px 2px 5px;
      animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      -webkit-animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/ }
    #matrix-container #tilesContainer .selectedTiles {
      width: 4em;
      height: 4em;
      margin: 0 0.2em;
      background-color: #a6e9d7;
      display: inline-block;
      border-radius: 4px;
      box-shadow: 2px 2px 5px;
      animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      -webkit-animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      background-color: #0bcfc9; }

/*Fade in settings for matrix*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*for safari browser*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#buttons-field {
  text-align: center; }
  #buttons-field #saveBtn {
    margin: 0.5em; }

#gameoverImg {
  width: 70%; }

/*!*********************summary.html**********************/
#summary-field {
  text-align: center; }
  #summary-field h1 {
    font-size: 2em; }
  #summary-field .userdataDivs {
    margin: 0.6em;
    font-size: 1.5em;
    color: grey;
    display: inline-block; }

#name-form {
  text-align: center; }
  #name-form #nameAlert {
    visibility: hidden;
    font-size: 0.8em;
    color: red; }
  #name-form input, #name-form #submitBtn {
    margin: 0.7em auto;
    display: block; }

#summary-restart-field {
  text-align: center; }

.yesno-btns-container {
  text-align: center; }

.yesBtns, .noBtns {
  width: 25%;
  display: inline-block;
  margin: 0.5em; }

/*# sourceMappingURL=style.css.map */
