/*!Default*/
$min-width: 320px;
$default-fontsize: 1.3em;
$default-font : 'Quattrocento Sans', sans-serif;
$default-background-color: #fff;
$default-text-color: #696969;

/*!Tile*/
$default-tile-color: #a6e9d7;
$correct-tile-color: #0bcfc9;
$tile-length: 3em;
$tile-length-sm: 2.7em;
$tile-length-xs: 2.5em;

/*!Button*/
$default-button-text-color: aliceblue;
$button-hover-color: black;
$default-button-fontsize: 1em;
$default-button-width: 25%;

/*!summary.html*/
$summary-fontsize: 1.5em;
$summary-sm-fontsize: 1.3em;
$summary-textcolor: #696969;

/*!Default*/
$table-first-row-color: #a6e9d7;

/*!Image path*/
$logo-img: '../../images/logo.png';
$crown-img: '../images/leaderboard.png';
$rank-img: '../../images/ranking.png';
$game-over-img: '../../images/game-over.png';
$thumsup-img: '../../images/thumsup.png';

/*!Alert*/
$alert-text-color: red;
$alert-font-size: 0.8em;
$alert-font-size-sm: 0.7em;
$alert-font-size-xs: 0.5em;