$default-fontsize: 1.3em;
$default-font : 'Quattrocento Sans', sans-serif;
$default-background-color: #fff;
$default-text-color: #696969;
$button-hover-color: black;
$default-tile-color: #a6e9d7;
$correct-tile-color: #0bcfc9;
$table-first-row-color: #a6e9d7;
$default-button-text-color: aliceblue;
$default-button-fontsize: 1em;
$summary-fontsize: 1.5em;
$summary-textcolor: #696969;
$tile-length: 3.4em;
$default-button-width: 25%;
$logo-img: '../../images/logo.png';
$crown-img: '../images/crown.png';
$rank-img: '../../images/ranking.png';
$game-over-img: '../../images/game-over.png';
$thumsup-img: '../../images/thumsup.png';
$alert-text-color: red;
$alert-font-size: 0.8em;