@import "variables";
@import "mixin";

body {
    margin: 0;
    padding: 0;
    font-size: $default-fontsize;
    font-family: $default-font;
    color: $default-text-color;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.buttons {
    width: 9%;
    padding: 0.3em;
    color: $default-button-text-color;
    font-size: $default-button-fontsize;

    &:hover {
        color: $button-hover-color;
    }
}

#leaderboardLink {
    font-size: 0.8em;
    margin-right: 0.5em;
    padding-top: 2.8em;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100px;
    background-image: url($crown-img);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-align: center;
}

.modal-body {
    text-align: center;
}

#main-container { /*To fade in*/
    display: none;
}

/*!*********************Navbar**********************/

#logoImg {
    width: 6em;
    
   
}

#level-field {
    text-align: right;

    li {
        margin: 0.6em;
        display: inline-block;
    }

    .levelLinks  {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #5e7fca;

            &:active {
                -webkit-transform: translateY(4px);
                transform: translateY(4px);
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
                border-bottom: none;
            }
    }
    
}

/*!*********************Index.html**********************/
#userdata-field {
    text-align: center;

    .userDataDivs {
        @include playSummary();
    }
}

#matrix-container {
    margin: 0.5em 0;
    text-align: center;
    z-index: 999;

    #tilesContainer {
        width: 30%;
        margin: 0 auto;
        -webkit-transition: transform 1.5s ease-in-out; /*Speed of Matrix rotating*/
       
        .matrixRows {
            display: block;
        }
        
        .matrixTiles {
          @include tiles();
        }
    
        .selectedTiles {
            @include tiles();
            background-color: $correct-tile-color;
        }
    }
}

/*Fade in settings for matrix*/
@keyframes fadeIn { 
    0% {opacity: 0} 
    100% {opacity: 1} 
}

/*for safari browser*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

#buttons-field {
    text-align: center;
    
    #saveBtn {
        margin: 0.8em;
    }
}

#saveModal {
    text-align: center;

    #saveModalYesBtn {
        width: $default-button-width;
    }
}

#gameOverModal {
    text-align: center;

    #gameOverImg {
        margin: auto;
        width: 50%;
    }

    #restartBtn {
        margin: 1em 0;
        width: $default-button-width;
    }
}


/*!*********************summary.html**********************/
#summary-field {
    text-align: center;
    
    img#thumsupImg {
        width: 10%;
        margin: 1em auto;
        display: block;
    }

    .userDataDivs {
        @include playSummary();
        margin-bottom: 0;
    }
}

#name-form {
    text-align: center;

    #nameAlert {
        visibility: hidden;
        margin: 0;
        padding: 0;
        font-size: $alert-font-size;
        color: $alert-text-color;
    }

    input, #submitBtn {
        margin: 0 auto 0.7em auto;
        display: block;
    }
}

#summary-restart-field {
    text-align: center;
}

.yesno-btns-container {
    text-align: center;
}

.yesBtns, .noBtns {
    width: $default-button-width;
    display: inline-block;
    margin: 0.5em;
}

/*!*********************leaderboard.html**********************/
#rank-summary-field {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url($rank-img);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .userDataDivs {
        font-weight: bold;
    }

    .userDataHeaders {
        font-size: 1.4em;
    }
    .userDatas {
        margin-right: 1em;
        font-size: 1.8em;
        font-weight: normal;
    }
}

#table-field {
    text-align: center;
    
    thead:first-child { 
        background: $table-first-row-color; 
    }
    
    .tableHeaders {
        font-weight: bold;
    }
}

#leaderboard-restart-field {
    text-align: center;
}

