/*!Default*/
/*!Tile*/
/*!Button*/
/*!summary.html*/
/*!Default*/
/*!Image path*/
/*!Alert*/
body {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-family: "Quattrocento Sans", sans-serif;
  color: #696969;
  min-width: 320px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a:link {
  text-decoration: none; }

.buttons {
  width: 9%;
  padding: 0.3em;
  color: aliceblue;
  font-size: 1em;
  /*Media Query*/
  /*Media Query*/
  /*Media Query*/ }
  @media (max-width: 992px) {
    .buttons {
      width: 13%; } }
  @media (max-width: 768px) {
    .buttons {
      width: 17%; } }
  @media (max-width: 480px) {
    .buttons {
      width: 30%; } }
  .buttons:hover {
    color: black; }

#leaderboardLink {
  width: 9%;
  height: 100px;
  margin-right: 0.2em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url("../images/leaderboard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  cursor: pointer;
  /*Media Query*/
  /*Media Query*/ }
  @media (max-width: 768px) {
    #leaderboardLink {
      width: 18%; } }
  @media (max-width: 480px) {
    #leaderboardLink {
      width: 22%; } }

.modal-body {
  text-align: center;
  /*Media Query*/ }
  @media (max-width: 768px) {
    .modal-body {
      font-size: 0.8em; } }

#main-container {
  /*To fade in*/
  display: none; }

/*!****************************Navbar*********************************/
#logoImg {
  width: 6em; }

#level-field {
  text-align: right; }
  #level-field li {
    margin: 0.6em;
    display: inline-block;
    /*Media Query*/ }
    @media (max-width: 768px) {
      #level-field li {
        margin: 0.2em; } }
  #level-field .levelLinks {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #level-field .levelLinks {
        padding: 0.5em 0.8em; } }
    @media (max-width: 480px) {
      #level-field .levelLinks {
        padding: 0.5em 0.7em;
        font-size: 0.6em; } }
    #level-field .levelLinks:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-bottom: none; }

/*!*********************Index.html**********************/
#userdata-field {
  text-align: center;
  /*Media Query*/ }
  @media (max-width: 768px) {
    #userdata-field {
      margin: 1em 0; } }
  #userdata-field .userDataDivs {
    margin: 0.5em;
    font-size: 1.5em;
    color: #696969;
    display: inline-block;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #userdata-field .userDataDivs {
        font-size: 1.3em; } }
    @media (max-width: 480px) {
      #userdata-field .userDataDivs {
        font-size: 1em; } }

#matrix-container {
  margin: 0.5em 0;
  text-align: center;
  z-index: 999;
  /*Media Query*/
  /*Media Query*/
  /*Media Query*/ }
  @media (max-width: 992px) {
    #matrix-container {
      margin: 0.8em 0; } }
  @media (max-width: 768px) {
    #matrix-container {
      margin: 1em 0; } }
  @media (max-width: 480px) {
    #matrix-container {
      margin: 1.2m 0; } }
  #matrix-container #tilesContainer {
    width: 32%;
    margin: 0 auto;
    -webkit-transition: transform 1.5s ease-in-out;
    /*Speed of Matrix rotating*/
    /*Media Query*/
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 992px) {
      #matrix-container #tilesContainer {
        width: 40%; } }
    @media (max-width: 768px) {
      #matrix-container #tilesContainer {
        width: 60%; } }
    @media (max-width: 480px) {
      #matrix-container #tilesContainer {
        width: 85%; } }
    #matrix-container #tilesContainer .matrixRows {
      display: block; }
    #matrix-container #tilesContainer .matrixTiles {
      width: 3em;
      height: 3em;
      margin: 0 0.2em;
      background-color: #a6e9d7;
      display: inline-block;
      border-radius: 4px;
      box-shadow: 2px 2px 5px;
      animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      -webkit-animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      /*Media Query*/
      /*Media Query*/ }
      @media (max-width: 768px) {
        #matrix-container #tilesContainer .matrixTiles {
          width: 2.7em;
          height: 2.7em; } }
      @media (max-width: 480px) {
        #matrix-container #tilesContainer .matrixTiles {
          width: 2.5em;
          height: 2.5em; } }
    #matrix-container #tilesContainer .selectedTiles {
      width: 3em;
      height: 3em;
      margin: 0 0.2em;
      background-color: #a6e9d7;
      display: inline-block;
      border-radius: 4px;
      box-shadow: 2px 2px 5px;
      animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      -webkit-animation: fadeIn 1s ease 0s 1 normal;
      /*Matrix fade-in setting*/
      background-color: #0bcfc9;
      /*Media Query*/
      /*Media Query*/ }
      @media (max-width: 768px) {
        #matrix-container #tilesContainer .selectedTiles {
          width: 2.7em;
          height: 2.7em; } }
      @media (max-width: 480px) {
        #matrix-container #tilesContainer .selectedTiles {
          width: 2.5em;
          height: 2.5em; } }

/*Fade in settings for matrix*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*for safari browser*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#buttons-field {
  text-align: center;
  z-index: 1000; }
  #buttons-field #saveBtn {
    margin: 0.8em;
    /*Media Query*/ }
    @media (max-width: 992px) {
      #buttons-field #saveBtn {
        margin: 1em; } }

#saveModal {
  text-align: center; }
  #saveModal #saveModalYesBtn {
    width: 25%; }

#gameOverModal {
  text-align: center; }
  #gameOverModal #gameOverImg {
    margin: auto;
    width: 50%; }
  #gameOverModal #restartBtn {
    margin: 0.8em 0;
    width: 25%; }

/*!*********************summary.html**********************/
#summary-field {
  text-align: center; }
  #summary-field #summaryHeader {
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #summary-field #summaryHeader {
        margin: 1em;
        font-size: 1.3em; } }
    @media (max-width: 480px) {
      #summary-field #summaryHeader {
        margin: 1.3em;
        font-size: 1.1em; } }
  #summary-field img#thumsupImg {
    width: 10%;
    margin: 1em auto;
    display: block;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #summary-field img#thumsupImg {
        width: 18%; } }
    @media (max-width: 480px) {
      #summary-field img#thumsupImg {
        width: 22%; } }
  #summary-field .userDataDivs {
    margin: 0.5em;
    font-size: 1.5em;
    color: #696969;
    display: inline-block;
    margin-bottom: 0;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #summary-field .userDataDivs {
        font-size: 1.2em; } }
    @media (max-width: 480px) {
      #summary-field .userDataDivs {
        font-size: 1em; } }

#name-form {
  text-align: center;
  /*Media Query*/
  /*Media Query*/ }
  @media (max-width: 768px) {
    #name-form {
      margin: 1em 0; } }
  @media (max-width: 480px) {
    #name-form {
      margin: 1em 0; } }
  #name-form #nameAlert {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: red;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #name-form #nameAlert {
        font-size: 0.7em; } }
    @media (max-width: 480px) {
      #name-form #nameAlert {
        font-size: 0.5em; } }
  #name-form input, #name-form #submitBtn {
    margin: 0 auto 0.7em auto;
    display: block; }

#summary-restart-field, .yesno-btns-container {
  text-align: center; }

.yesBtns, .noBtns {
  width: 25%;
  display: inline-block;
  margin: 0.5em; }

/*!*********************leaderboard.html**********************/
#rank-summary-field {
  height: 5em;
  text-align: center;
  background-image: url("../../images/ranking.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*Media Query*/ }
  @media (max-width: 768px) {
    #rank-summary-field {
      height: 8em;
      margin-top: 1em;
      text-align: left; } }
  #rank-summary-field .userDataDivs {
    display: inline-block;
    margin: 0 1em;
    font-weight: bold;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #rank-summary-field .userDataDivs {
        display: block; } }
    @media (max-width: 480px) {
      #rank-summary-field .userDataDivs {
        display: block; } }
  #rank-summary-field .userDataHeaders {
    font-size: 1.4em;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #rank-summary-field .userDataHeaders {
        font-size: 1.1em; } }
    @media (max-width: 480px) {
      #rank-summary-field .userDataHeaders {
        font-size: 0.9em; } }
  #rank-summary-field .userDatas {
    font-size: 1.8em;
    font-weight: normal;
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 768px) {
      #rank-summary-field .userDatas {
        font-size: 1em; } }
    @media (max-width: 480px) {
      #rank-summary-field .userDatas {
        font-size: 0.8em; } }

#table-field {
  text-align: center;
  /*Media Query*/
  /*Media Query*/
  /*Media Query*/ }
  @media (max-width: 992px) {
    #table-field {
      font-size: 1em; } }
  @media (max-width: 768px) {
    #table-field {
      font-size: 0.9em; } }
  @media (max-width: 480px) {
    #table-field {
      font-size: 0.7em; } }
  #table-field thead:first-child {
    background: #a6e9d7; }
  #table-field .tableHeaders {
    font-weight: bold; }

#leaderboard-restart-field {
  text-align: center;
  margin: 0.5em 0fFF; }
  #leaderboard-restart-field #restartBtn {
    margin-top: 0.8em;
    width: 10%;
    /*Media Query*/
    /*Media Query*/
    /*Media Query*/ }
    @media (max-width: 992px) {
      #leaderboard-restart-field #restartBtn {
        width: 15%; } }
    @media (max-width: 768px) {
      #leaderboard-restart-field #restartBtn {
        width: 20%; } }
    @media (max-width: 768px) {
      #leaderboard-restart-field #restartBtn {
        width: 30%; } }

/*# sourceMappingURL=style.css.map */
