@import "variables";
@import "mixin";

body {
    margin: 0;
    padding: 0;
    font-size: $default-fontsize;
    font-family: $default-font;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.buttons {
    width: 9%;
    padding: 0.3em;
    color: $default-button-text-color;
    font-size: $default-button-fontsize;

    &:hover {
        color: grey;
    }
}

.rankLinks {
    font-size: 0.8em;
    margin-right: 0.5em;
    padding-top: 1.2em;
    position: fixed;
    color: grey;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100px;
    background-image: url('../images/crown.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-align: center;
}

/*!*********************Navbar**********************/

#logoImg {
    width: 20%;
}

#level-field {
    text-align: right;

    li {
        margin: 0.6em;
        display: inline-block;
    }

    .levelLinks  {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #5e7fca;

            &:active {
                -webkit-transform: translateY(4px);
                transform: translateY(4px);
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
                border-bottom: none;
            }
    }
    
}

/*!*********************Index.html**********************/
#userdata-field {
    text-align: center;

    .userdataDivs {
        @include playSummary();   
    }
}

#matrix-container {
    margin: 0.5em 0;
    text-align: center;
    z-index: 999;

    #tilesContainer {
        width: 35%;
        margin: 0 auto;
        -webkit-transition: transform 1.5s ease-in-out; /*Speed of Matrix rotating*/
    
        .matrixRows {
            display: block;
        }
        
        .matrixTiles {
          @include tiles();
        }
    
        .selectedTiles {
            @include tiles();
            background-color: $correct-tile-color;
        }
    }
}

/*Fade in settings for matrix*/
@keyframes fadeIn { 
    0% {opacity: 0} 
    100% {opacity: 1} 
}

/*for safari browser*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

#buttons-field {
    text-align: center;
    
    #saveBtn {
        margin: 0.8em;
    }
}

#saveModalYesBtn {
    width: 25%;
}

/*!*********************summary.html**********************/
#summary-field {
    text-align: center;

    h1 {
        font-size: 2em;
    }
    
    .userdataDivs {
        @include playSummary();
    }
}

#name-form {
    text-align: center;

    #nameAlert {
        visibility: hidden;
        font-size: 0.8em;
        color: red;
    }

    input, #submitBtn {
        margin: 0.7em auto;
        display: block;
    }
}

#summary-restart-field {
    text-align: center;
}

.yesno-btns-container {
    text-align: center;
}

.yesBtns, .noBtns {
    width: 25%;
    display: inline-block;
    margin: 0.5em;
}

/*!*********************leaderboard.html**********************/
#rank-summary-field {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/ranking.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .userDatas {
        margin-right: 1em;
        font-size: 1.4em;
    }
}

#table-field {
    text-align: center;
    thead:first-child { background: $table-first-row-color; }
}

#leaderboard-restart-field {
    text-align: center;
}

